#farm{
  height: 50px;
  border-bottom: 5px solid green;

}
#farm .box{
  border: 1px solid #CDC;
  width: 48px;
  height: 48px;
  float: left;
}
#farm .corn{
  background-image: url(corn.png);
}
#farm .potato{
  background-image: url(potato.png);
}
#farm .tomato{
  background-image: url(tomato.png);
}
