body {
  background-color: #222;
}
#map{
  width: 500px;
  height: 500px;
  border: 5px solid red;
  position: relative;
  cursor: url(../img/target.png) 24 24, auto;
}
#panel{
  width: 510px;
  height: 30px;
  background-color: green;
}
